<ion-content fullscreen="true" class="main">
  <div class="top2">
    <img src="./../../../assets/png/top2.png" alt="" />
  </div>

  <div class="main">
    <h2 class="labels">Total de Recibos por Honorarios</h2>
    <ion-item class="inputs" lines="none">
      <ion-label class="soles" position="start"> S/ </ion-label>
      <input
        inputmode="numeric"
        id="input-venta"
        class="numero"
        placeholder="00,00"
        [(ngModel)]="venta"
        (blur)="getVenta($event.target)"
        (keyup.enter)="getVenta($event.target)"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">Retencion</h2>
    <ion-item class="inputs" lines="none">
      <ion-label class="soles" position="start"> S/ </ion-label>
      <input
        class="numero"
        inputmode="numeric"
        id="input-igv"
        placeholder="00,00"
        [(ngModel)]="igv"
        (blur)="getIgv($event.target)"
        (keyup.enter)="getIgv($event.target)"
        disabled="true"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">Neto a pagar</h2>
    <ion-item class="inputs" lines="none">
      <ion-label class="soles" position="start"> S/ </ion-label>
      <input
        inputmode="numeric"
        id="input-total"
        class="numero"
        [(ngModel)]="total"
        (blur)="getTotal($event.target)"
        (keyup.enter)="getTotal($event.target)"
        placeholder="00,00"
        disabled="true"
        [maskito]="maskito"
      />
    </ion-item>
    <div class="select1" lines="none">
      <ion-label class="texto">Hice mi suspension de renta cuarta.</ion-label>
      <ion-checkbox
        class="box"
        slot="end"
        color="primary"
        (ionChange)="cuartaCheck($event)"
      ></ion-checkbox>
    </div>
    <div class="select" lines="none">
      <ion-label class="texto">Supere los 45000.</ion-label>
      <ion-checkbox
        class="box"
        slot="end"
        color="primary"
        (ionChange)="superarCheck($event)"
      ></ion-checkbox>
    </div>
  </div>
</ion-content>
