
<ion-content fullscreen="true" class="main">
  <div class="top2">
    <img src="../../../assets/png/top2.png" alt="" />
  </div>
  <div class="mainPrecio">
    <h2 class="labels">
      Compras
      <ion-button class="btnInfo" id="present-alert" color="#f4f5f8">
        <img class="pop" src="../../../assets/png/i.png" />
      </ion-button>
      <ion-alert
        trigger="present-alert"
        header="Información"
        message="Aquí debemos poder el costo del producto u otros que tienen factura."
        [buttons]="alertButtons"
      ></ion-alert>
    </h2>

    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        position="floating"
        (ionInput)="handleChangeCompras($event.target.value)"
        [value]="compras"
        placeholder="00.00"
      ></ion-input>
    </ion-item>
    <h2 class="labels">
      Gastos
      <ion-button class="btnInfo" id="gastos-alert" color="#f4f5f8">
        <img class="pop" src="../../../assets/png/i.png" />
      </ion-button>
      <ion-alert
        trigger="gastos-alert"
        header="Información"
        message="Aquí debemos poder el costo de los servicios u gastos referidos al producto, no tienen factura."
        [buttons]="alertButtons"
      ></ion-alert>
    </h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        position="floating"
        (ionInput)="handleChangeGastos($event.target.value)"
        [value]="gastos"
        placeholder="00.00"
      ></ion-input>
    </ion-item>
    <h2 class="labels">
      Ganancia 1
      <ion-button class="btnInfo" id="ganancia-alert" color="#f4f5f8">
        <img class="pop" src="../../../assets/png/i.png" />
      </ion-button>
      <ion-alert
        trigger="ganancia-alert"
        header="Información"
        message="Aquí poner el monto en soles del calculo de ganancia en obtenido en el cálculo anterior."
        [buttons]="alertButtons"
      ></ion-alert>
    </h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        position="floating"
        (ionInput)="handleChangeGanancia1($event.target.value)"
        [value]="ganancia1"
        placeholder="00.00"
      ></ion-input>
    </ion-item>
    <h2 class="labels">
      IGV
      <ion-button class="btnInfo" id="igv-alert" color="#f4f5f8">
        <img class="pop" src="../../../assets/png/i.png" />
      </ion-button>
      <ion-alert
        trigger="igv-alert"
        header="Información"
        message="Sub total mas IGV."
        [buttons]="alertButtons"
      ></ion-alert>
    </h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        position="floating"
        [value]="igv"
        readonly
        disabled="true"
        placeholder="00.00"
      ></ion-input>
    </ion-item>
    <h2 class="labels">
      Precio
      <ion-button class="btnInfo" id="precio-alert" color="#f4f5f8">
        <img class="pop" src="../../../assets/png/i.png" />
      </ion-button>
      <ion-alert
        trigger="precio-alert"
        header="Información"
        message="Precio que debo cobrar."
        [buttons]="alertButtons"
      ></ion-alert>
    </h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        position="floating"
        [value]="precio"
        readonly
        disabled="true"
        placeholder="00.00"
      ></ion-input>
    </ion-item>
    <h2 class="labels">
      Ganancia 2
      <ion-button class="btnInfo" id="ganancia2-alert" color="#f4f5f8">
        <img class="pop" src="../../../assets/png/i.png" />
      </ion-button>
      <ion-alert
        trigger="ganancia2-alert"
        header="Información"
        message="Crédito fiscal - igv a pagar."
        [buttons]="alertButtons"
      ></ion-alert>
    </h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        position="floating"
        [value]="ganancia2"
        readonly
        disabled="true"
        placeholder="00.00"
      ></ion-input>
    </ion-item>
  </div>

  <ion-button class="reset" expand="block" (click)="handleReset()">
    Reiniciar
  </ion-button>
</ion-content>
