<ion-content fullscreen="true">
  <div class="top2">
    <img src="{Top2}" alt="" />
  </div>
  <div class="main">
    <h2 class="labels">Mis Costos</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        id="input-venta"
        fill="outline"
        placeholder="00.00"
        [(ngModel)]="costoValue"
        (ionInput)="handleCostoValue($event.target.value)"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Porcentaje que quiero ganar</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="end" class="solesLabel"> % </ion-label>
      <ion-input
        inputmode="numeric"
        id="input-igv"
        fill="outline"
        placeholder="0"
        [(ngModel)]="porcentajeGanarValue"
        (ionInput)="handlePorcentajeGanarValue($event.target.value)"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Ganancia</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <ion-input
        inputmode="numeric"
        id="input-total"
        fill="outline"
        placeholder="00.00"
        [(ngModel)]="gananciaValue"
        readonly
      ></ion-input>
    </ion-item>
  </div>
  <ion-button class="buttonReiniciar" expand="block" (click)="reset()">
    Reiniciar
  </ion-button>
</ion-content>
