<ion-content fullscreen="true">
  <div class="top2">
    <img src="./../../../assets/png/top2.png" alt="" />
  </div>
  <div class="main">
    <h2 class="labels">Mis Costos</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-venta"
        placeholder="00,00"
        [(ngModel)]="costoValue"
        (ionInput)="handleCostoValue($event.target.value)"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Porcentaje que quiero ganar</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">%</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-igv"
        placeholder="0"
        [(ngModel)]="porcentajeGanarValue"
        (ionInput)="handlePorcentajeGanarValue($event.target.value)"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Ganancia</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-total"
        placeholder="00,00"
        [(ngModel)]="gananciaValue"
        readonly
      ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="reset()">
      <span style="padding-right: 16px;">REINICIAR</span><span>></span>
    </ion-button> 
  </div>
   
</ion-content>
