<ion-content class="main">
  <div class="top" style="display: flex; flex-direction: row">
    <ion-back-button
      style="color: white"
      text=""
      defaultHref="/cronograma"
    ></ion-back-button>
    <ion-text *ngIf="dataLoaded===true">
      <h1 class="ruc">{{rucNumber}}</h1>
    </ion-text>
  </div>
  <div class="titles">
    <ion-text>PERIODO</ion-text>
    <ion-text>FECHA</ion-text>
  </div>
  <div style="height: 50%; overflow-y: auto;">
    <ion-list>
      <ion-item lines="none" *ngFor="let ruc of rucs" color="#f9fbfc">
        <ion-label>{{ruc.PERIODO}}</ion-label>
        <ion-label>{{ruc.FECHA}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ion-button
    class="boton"
    *ngIf="savedRuc===false"
    expand="block"
    id="open-modal"
  >
    Guardar
  </ion-button>
  <ion-modal trigger="open-modal" color="white" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Enter your name"
            labelPlacement="stacked"
            type="text"
            placeholder="Your name"
            [(ngModel)]="name"
          ></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
