<ion-content fullscreen="true">
  <div class="top2">
    <img src="./../../../assets/png/top2.png" alt="Encabezado Decorativo" />
  </div>
  <div class="main">
    <h2 class="labels">Sub Total</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-venta"
        placeholder="00,00"
        [(ngModel)]="venta"
        (ionChange)="getVenta($event.detail.value ?? '')"
      ></ion-input>
    </ion-item>
    <h2 class="labels">IGV</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-igv"
        placeholder="00,00"
        [(ngModel)]="igv"
        (ionChange)="getVenta($event.detail.value ?? '')"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Total de Ventas</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-total"
        placeholder="00,00"
        [(ngModel)]="total"
        readonly
      ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="reset()">
      Reiniciar
    </ion-button>
  </div>
</ion-content>
