<ion-content fullscreen="true">
  <div class="top2">
    <img src="./../../../assets/png/top2.png" alt="" />
  </div>
  <div class="main">
    <h2 class="labels">Sub Total</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-venta"
        placeholder="00,00"
        [(ngModel)]="venta"
        (ionFocus)="focusInputVenta('input-venta')"
        (ionBlur)="unfocusInputVenta('input-venta')"
        (ionChange)="getVenta($event.target.value)"
      ></ion-input>
    </ion-item>
    <h2 class="labels">IGV</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-igv"
        placeholder="0"
        [(ngModel)]="igv"
        (ionFocus)="focusInputIgv('input-igv')"
        (ionBlur)="unfocusInputIgv('input-igv')"
        (ionChange)="getIgv($event.target.value)"
      ></ion-input>
    </ion-item>
    <h2 class="labels">Total de Ventas</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="fixed">S/</ion-label>
      <ion-input
        inputmode="numeric"
        id="input-total"
        [(ngModel)]="total"
        placeholder="00,00"
        (ionFocus)="focusInputTotal('input-total')"
        (ionBlur)="unfocusInputTotal('input-total')"
        (ionChange)="getTotal($event.target.value)"
        readonly
      ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="reset()">
      <span style="padding-right: 16px">REINICIAR</span>
    </ion-button>
  </div>
</ion-content>
