<ion-content fullscreen="true" class="main">
 
  <div class="main2">
    <br>
    <br>
    <div class="divisor"></div>
    <br>
    <br>
    <br>
    <p>
      Somos un estudio contable tributario y legal que ha desarrollado esta app útil para ti.
    </p>
    <ion-button size="small" class="info-button" (click)="contact()">
      Contáctanos
    </ion-button>
    <br>
    <p class="info">*Presione aqui para obtener asesoria gratuita en temas de contabilidad tributación, constitución de empresas, temas societarios y mas...</p>
  </div>
</ion-content>
