<ion-content fullscreen="true" class="main">
  <div class="top2">
    <img src="./../../../assets/png/top2.png" alt="" />
  </div>
  <div class="main2">
    <h2 class="labels">Total de Ventas</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-total"
        (blur)="getTotal($event.target)"
        (keyup.enter)="getTotal($event.target)"
        [(ngModel)]="total"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">IGV a Pagar (Ventas)</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-igv"
        (blur)="getIgv($event.target)"
        (keyup.enter)="getIgv($event.target)"
        [(ngModel)]="igv"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">Sub Total (Ventas)</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-venta"
        (blur)="getVenta($event.target)"
        (keyup.enter)="getVenta($event.target)"
        [(ngModel)]="venta"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">Total de Compras</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-compra"
        (blur)="getCompra($event.target)"
        (keyup.enter)="getCompra($event.target)"
        [(ngModel)]="compras"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">IGV/CRED. Fiscal</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-igv"
        (ionBlur)="unfocusInputIgv('input-igv')"
        [(ngModel)]="creditofiscal"
        disabled="true"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">Sub Total de Compras</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-total"
        [(ngModel)]="total_compras"
        disabled="true"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">Credito Fiscal Mes Anterior</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        inputmode="numeric"
        id="input-credt"
        (blur)="getCredtMes($event.target)"
        (keyup.enter)="getCredtMes($event.target)"
        placeholder="00.00"
        [(ngModel)]="credito_mesanterior"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">
      Compras que representan el total<br />
      del credito fiscal anterior
    </h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        inputmode="numeric"
        id="input-credtTot"
        (blur)="calcTotalMesAnterior2($event.target)"
        (keyup.enter)="calcTotalMesAnterior2($event.target)"
        placeholder="00.00"
        [(ngModel)]="total_mesanteriorTot"
        [maskito]="maskito"
      />
    </ion-item>
    <h2 class="labels">IGV a Pagar</h2>
    <ion-item class="inputs" lines="none">
      <ion-label position="start" class="solesLabel"> S/ </ion-label>
      <input
        placeholder="00.00"
        inputmode="numeric"
        id="input-venta"
        [(ngModel)]="igv_pagar"
        disabled="true"
        [maskito]="maskito"
      />
    </ion-item>
    <div class="selector-tipo">
      <ion-label class="tipoRegi">Tipo de Regimen</ion-label>
      <p></p>
      <ion-select
        class="tipoSelect"
        [(ngModel)]="selected"
        interface="action-sheet"
        okText="Elegir"
        cancelText="Cancelar"
        (ionChange)="regimenChange($event)"
        [maskito]="maskito"
      >
        <ion-select-option value="default"
          ><span>------------</span> Seleccione
          <span>------------</span></ion-select-option
        >
        <ion-select-option value="RER"
          >Régimen Especial de Renta</ion-select-option
        >
        <ion-select-option value="RMT"
          >Régimen MYPE Tributario</ion-select-option
        >
        <ion-select-option value="RG">Régimen General</ion-select-option>
      </ion-select>
    </div>
    <ion-item
      style="margin-bottom: 10px; font-size: 24px; color: #03335e"
      lines="none"
    >
      <ion-label position="start" class="solesLabel" placeholder="00,00">
        S/
      </ion-label>

      <ion-label>{{regimen}}</ion-label>
    </ion-item>
  </div>
</ion-content>
